<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Flutter solo lo agrega a los manifiestos de debug y profile. Sin esto,
         el APK de release no puede hablar con Supabase. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Android 13 en adelante exige pedir este permiso en tiempo de ejecucion.
         Si la usuaria lo niega, la app funciona igual: los avisos son un extra,
         no el producto. -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- Para volver a programar los avisos despues de reiniciar el telefono.
         Sin esto, apagar y prender el celular borra los recordatorios de cobro. -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:label="Ronda"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Vuelta del login de Google.
                 El navegador termina en pe.leonardo.ronda://login-callback/ y
                 Android devuelve el control a esta activity. El mismo valor
                 esta en AccionesDeSesion.urlDeRetorno y en las Redirect URLs
                 del panel de Supabase: si los tres no coinciden, el usuario se
                 queda mirando el navegador. -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="pe.leonardo.ronda"
                    android:host="login-callback"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <queries>
        <!-- Required to query activities that can process text, see:
             https://developer.android.com/training/package-visibility and
             https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

             In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>

        <!-- Android 11 en adelante esconde las apps instaladas. Sin esta
             consulta, url_launcher no encuentra el navegador para el login
             ni WhatsApp para los recordatorios del paso 4. -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
    </queries>
</manifest>
